<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Wpf_AutoGenerateViewModel.Properties.Settings.EmployeesDataMSSQLConnectionString"
            connectionString="Data Source=andrey-kotelnik\sqlexpress;Initial Catalog=EmployeesDataMSSQL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>