<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!-- Поставщик -->
    <add key="provider" value="System.Data.SqlClient"/>
  </appSettings>
  <connectionStrings>
    <add name="SqlDataBase" 
         connectionString= "Data Source=andrey-kotelnik\sqlexpress; Initial Catalog=EmployeesDataMSSQL; Integrated Security=True; Pooling=True"/>
    
    <add name="WebServiceAPI"
         connectionString="https://localhost:44307/"/>
  </connectionStrings>
</configuration>